<h1>Sign in</h1>

<%= form_tag ({controller: "session",action: "create",:method => :put}) do %>

<p>
アカウントID:<%= text_field :user_name ,:name %>
</p>

<p>
パスワード:<%= text_field :password ,:name %>
</p>

<%= submit_tag "ログイン"%>	

<% end %>
